*.exe
*.exe~
*.test
*.out
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
vendor/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode
*.iml
*.test
*.iml
log.txt
terraform-provider-coralogix*
terraform-provider-coralogix.exe