name: acc-tests

on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    env:
      GO111MODULE: on
    strategy:
      matrix:
        go-version: [ 1.25.x ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Acceptance Tests
        env:
          CORALOGIX_ENV: ${{ secrets.CORALOGIX_ENV }}
          CORALOGIX_API_KEY: ${{ secrets.CORALOGIX_API_KEY }}
          TEST_TEAM_ID: ${{ secrets.TEST_TEAM_ID }}          
          AWS_TEST_ROLE: ${{ secrets.AWS_TEST_ROLE }}
        run: |
          make testacc